<div *ngIf="record">
  <h3>Détails de l'enregistrement {{ record.name }}</h3>
  <h4> 
    <p>Id : {{ record.id }}</p>
    <p>Nom : {{ record.name }}</p>
    <p>Id de la chaine : {{ record.idch }}</p>
    <p>Nom de la chaine : {{ record.namech }}</p>
    <p>URL de la chaine : {{ record.urlch }}</p>
    <p>Début de l'enregistrement : {{ record.recbegin }}</p>
    <p>Fin de l'enregistrement : {{ record.recend }}</p>
    <p>Terminé : {{ record.done }}</p>
    <p>Archivé : {{ record.archived }}</p>
  </h4>
</div>
