<h2>Enregistrements</h2>

<ul class="record-list">
    <li *ngFor="let record of records | async">
        <a routerLink="/record/{{ record.id }}">
            <span class="badge">{{ record.id }}</span> {{ record.name }}
        </a>
        <!-- <button class="delete" title="delete hero"
        (click)="delete(hero)">x</button> -->
    </li>
</ul>

<!-- <div class="record-item" *ngFor="let record of records | async">
    <h3>
        <a [title]="'Détails de '+record.name">
            {{ record.name }}
        </a>
    </h3>
    <h2>
        Chaîne : {{ record.namech }}
    </h2>

    <p>
        Début : {{ record.recbegin }}
        Fin : {{ record.recend }}
    </p>
</div> -->
