<h2>Liste des Chaînes</h2>

<ul class="channel-list">
    <li *ngFor="let channel of channels | async">
        <a routerLink="/channel/{{channel.id}}">
            <span class="badge">{{ channel.id }}</span> {{ channel.name }}
        </a>
        <button class="delete" title="Supprimer la chaîne"
        (click)="delete(channel)">x</button>
    </li>
</ul>

<nav>
    <a routerLink="/channel/new">Ajouter</a>
</nav>

<div>
    <button (click)="test_anthoApi()">
        Test Reload
    </button>
</div>